.about-us {
  width: 100%;
  padding-bottom: 50px;
  background-color: rgb(219, 219, 219);
}

.about-us__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.about-us__item {
  width: 100%;
  position: relative;
  padding-top: 80px;
}

.about-us__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.about-us__item--energo::before {
  background-image: url("../../assets/icons/energo-icon.svg");
}

.about-us__item--civil::before {
  background-image: url("../../assets/icons/civil-icon.svg");
}

.about-us__title {
  @include second-level-headings();
  font-size: 24px;
  line-height: 32px;
}

.about-us__text {
  width: 80%;
  margin: 0 auto;
}

.about-us__details {
  position: relative;
  color: $link-color;
}

.about-us__details::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 20px;
  right: -15px;
  background-image: url("../../assets/icons/arrow-right-hover.svg");
  background-repeat: no-repeat;
  background-size: 10px 20px;
}

@media (min-width: $tablet-width) {
  .about-us {
    padding-bottom: 82px;
    background-image: url("../../assets/img/white-construction-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
  }

  .about-us__wrapper {
    width: 80%;
    flex-direction: row;
    margin: 0 auto;
  }

  .about-us__item {
    width: 41%;
    text-align: left;
    padding-left: 168px;
  }

  .about-us__item::before {
    left: -32px;
    transform: translateX(100%);
    top: 46%;
    width: 90px;
    height: 90px;
    background-size: 90px 90px;
  }

  .about-us__title {
    margin-top: 18px;
    margin-bottom: 5px;
    font-size: 19px;
    line-height: 25px;
  }

  .about-us__text {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    font-family: $font-roboto;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;

  }
}