.promo-block { 
  padding-bottom: 50px;
}

.promo-block__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .promo-block {
    padding: 20px;
    padding-bottom: 70px;
  }

  .promo-block__wrapper {
    flex-direction: row;
    padding: 0 20px;
  }  
}