.promo-block { 
  padding-top: 12px;
  padding-bottom: 22px;
}

.promo-block__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .promo-block {
   padding: 90px 0;
  }

  .promo-block__wrapper {
    width: 94%;
    margin: 0 auto;
    flex-direction: row;
    padding: 0 ;
  }  
}

@media (min-width: $desktop-width) {
  .promo-block {
   padding-bottom: 50px;
  }
}