.slider {
  width: 100%;
  padding-bottom: 100px;
}

.slider__wrapper {
  width: 100%;
  padding: 0 20px;
}

.slider__title {
  @include second-level-headings();
  font-size: 25px;
  line-height: 40px;
}

.slider__list {
  --cols: 1;
  --margin: 0px;
  --position: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}

.slider__item {
  position: absolute;
  margin: 0 var(--margin);
  width: calc(100% / var(--cols) - 2 * var(--margin));
  flex-shrink: 0;
  transform: translateX(calc(-100% * var(--position)));
  transition-duration: 500ms;
}

.slider__buttons {
  display: none;
}

.slider__toggles {
  width: 106px;
  height: 5px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.slider__toggle {
  width: 30px;
  height: 5px;
  background-color: $color-link-unactive;
}

.slider__toggle--active {
  background-color: $color-link-active;
}

@media (min-width: $desktop-width) {
  .slider {
    padding-top: 72px;
  }

  .slider__wrapper {
    width: 92%;
    position: relative;
    padding: 0;
    margin: 0 auto;
  }

  .slider__title {
    margin-bottom: 46px;
    font-size: 26px;
    font-weight: 300;
  }

  .slider__list {
    width: 93%;
    margin: 0 auto;
    --cols: 3;
    overflow: hidden;
  }

  .slider__item {
    padding: 0 10px;
    transform: translateX(0%);
  }

  .slider__buttons {
    position: absolute;
    width: 100%;
    top: 45%;
    display: flex;
    justify-content: space-between;
  }

  .slider__button {
    position: relative;
    width: 27px;
    height: 50px;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    outline: none;
  }

  .slider__button--prev {
    left: 0;
  }

  .slider__button--next {
    right: 0;
  }

  .slider__button--prev::before,
  .slider__button--next::before {
    content: "";
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 27px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 27px 50px;
    transition: all 0.5s ease;
  }

  .slider__button--prev::before {
    background-image: url("../assets/icons/arrow-left.svg");
  }

  .slider__button--next::before {
    background-image: url("../assets/icons/arrow-right.svg");
  }

  .slider__button--prev:hover::before {
    background-image: url("../assets/icons/arrow-left-hover.svg");
  }

  .slider__button--next:hover::before {
    background-image: url("../assets/icons/arrow-right-hover.svg");
  }
}