*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  min-width: 320px;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $white;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: $main-text-color;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  border: 1px solid transparent;
  vertical-align: middle;
}