$main-text-color: #444444;
$header-color: #262626;
$link-color: #0568C3;

$white: #FFFFFF;
$black: #000000;

$font-roboto: 'Roboto', 'Arial', sans-serif;
$font-prompt: 'Prompt', 'Arial', sans-serif;

$tablet-width: 768px;
